* {
  scroll-behavior: smooth;
}

#Description {
  color: #fff;
}

.jumbotron {
  padding-top: 6rem;
}

section {
  padding-top: 5rem;
}

.menu-box {
  position: relative;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.menu-box::before {
  content: 'OUR';
  position: absolute;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.menu-box:hover::before {
  opacity: 0.2;
}

.menu-box::after {
  content: 'MENU';
  position: absolute;
  color: #fff;
  font-size: 4.3em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.menu-box:hover::after {
  opacity: 0.2;
}

.menu-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}

.menu-box:hover .menu-name {
  top: 20px;
  opacity: 1;
}

.menu-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}

.menu-box:hover .menu-detail-button {
  opacity: 1;
  bottom: 20px;
}

.menu-img {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate3d(-50%, -52%, 80px);
  max-width: 350px;
  transition: 0.5s;
}

.menu-box:hover .menu-img {
  transform: translate3d(-50%, -52%, 100px) rotate(5deg) scale(1.2);
}
